:root{
    --black:#151515;
    --dark-purple:#301B3F;
    --dark-blue:#3C415C;
    --grey:#B4A5A5;
}

.App{
    display:flex;
    flex-direction:column;
    width:100vw;
    
    align-items: center;
    background-color: var(--black);
    color:var(--grey)
}
.messages-container{
    height: 70vh;
    width: 60%;
}
.header-container{
    height:15vh;
}
.InputForm-container{
    height:15vh;
}