h1{
    margin:0 ;
}
p{
    margin:0;
}
.messages{
    display:flex;
    flex-direction: column;
    width:100%;
    overflow: scroll;
    overflow-x: auto;
    height: 100%;
}::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}   
.message-container{
    display: flex;
    flex-direction: column;
    width:100%;
}


    /* .messages-container:hover{
        background-color: var(--dark-purple);
    } */